<h1>Cadastro de Imóvel</h1>
<h1><%= @property.title %></h1>
<h3>Descrição:</h3>
<p><%= @property.description %></p>
<ul>
  <li>Localização: <%= @property.property_location.name %></li>
  <li>Bairro: <%= @property.neighborhood %></li>
  <li>Finalidade: <%= @property.rent_purpose %></li>
  <li>Foto principal: <%= @property.main_photo %></li>
  <li>Cômodos: <%= @property.rooms %></li>
  <li>Máximo de pessoas: <%= @property.maximum_guests %></li>
  <li>Mínimo de dias: <%= @property.minimum_rent %></li>
  <li>Máximo de dias: <%= @property.maximum_rent %></li>
  <li>Preço da diária: R$ <%= @property.daily_rate %></li>
</ul>
<h3>Condições permitidas:</h3>
<ul>
  <li>Acessibilidade? <%= @property.accessibility? ? 'Sim' : 'Não' %></li>
  <li>Aceita animais? <%= @property.allow_pets? ? 'Sim' : 'Não' %></li>
  <li>Aceita fumantes? <%= @property.allow_smokers? ? 'Sim' : 'Não' %></li>
</ul>

<h3>Preços por temporada</h3>
<% @property.price_ranges.each do |price_range| %>

  <h4><%= price_range.description %></h4>
  <ul>
    <li>Data inicial: <%= price_range.start_date.strftime("%d/%m/%Y") %></li>
    <li>Data final: <%= price_range.end_date.strftime("%d/%m/%Y") %></li>
    <li>Preço da diária: R$ <%= price_range.daily_rate %></li>
  </ul>
<% end %>

<h2> Propostas </h2>
<% @property.proposals.each do |proposal| %>
  <ul>
    <li>Proponente: <%= proposal.name %></li>
    <li>email do proponente: <%= proposal.email %></li>
    <li>Telefone do proponete: <%= proposal.phone%></li>
    <li>Finalidade da proposta: <%= proposal.rent_purpose %></li>
    <li>Quantidade de hospedes: <%= proposal.total_guest %></li>
    <li>estadia de <%= proposal.start_date.strftime('%d/%m/%Y') %> até <%= proposal.end_date.strftime('%d/%m/%Y') %></li>
    <li><%= proposal.pet ? 'Vou levar meu pet' : 'Não vou levar o meu pet' %></li>
    <li><%= proposal.smoker ? 'Sou fumante' : 'Não sou fumante' %></li>
    <li>Valor da proposta: <%= proposal.total_amount %></li>
    <li>Maiores detalhes: <%= proposal.details %></li>
  </ul>

<p><%= link_to 'Voltar', root_path %></p>
<p><%= link_to 'Cadastrar uma temporada', new_property_price_range_path(@property) %></p>
<p><%= link_to 'Enviar uma proposta',new_property_proposal_path(@property) %></p>
<% end %>
