<h1><%= @property.title %></h1>
<h3>Descrição:</h3>
<p><%= @property.description %></p>
<ul>
  <li>Localização: <%= @property.property_location.name %></li>
  <li>Bairro: <%= @property.neighborhood %></li>
  <li>Finalidade: <%= @property.rent_purpose %></li>
  <li>Foto principal: <%= image_tag @property.main_photo.url(:medium) %></li>
  <li>Cômodos: <%= @property.rooms %></li>
  <li>Máximo de pessoas: <%= @property.maximum_guests %></li>
  <li>Mínimo de dias: <%= @property.minimum_rent %></li>
  <li>Máximo de dias: <%= @property.maximum_rent %></li>
  <li>Preço da diária: R$ <%= @property.daily_rate %></li>
</ul>
<h3>Condições permitidas:</h3>
<ul>
  <li>Acessibilidade? <%= @property.accessibility? ? 'Sim' : 'Não' %></li>
  <li>Aceita animais? <%= @property.allow_pets? ? 'Sim' : 'Não' %></li>
  <li>Aceita fumantes? <%= @property.allow_smokers? ? 'Sim' : 'Não' %></li>
</ul>

<h3>Preços por temporada</h3>
<% @property.price_ranges.each do |price_range| %>

  <h4><%= price_range.description %></h4>
  <ul>
    <li>Data inicial: <%= price_range.start_date.strftime("%d/%m/%Y") %></li>
    <li>Data final: <%= price_range.end_date.strftime("%d/%m/%Y") %></li>
    <li>Preço da diária: R$ <%= price_range.daily_rate %></li>
  </ul>
<% end %>

<% if @property.property_owner == current_property_owner %>
  <h3> Propostas </h3>
  <% @property.proposals.each do |proposal| %>
    <%= render partial: "shared/proposal", locals: { proposal: proposal } %>
  <% end %>

  <p><%= link_to 'Cadastrar uma temporada', new_property_price_range_path(@property) %></p>
<% end%>

<% if user_signed_in? %>
  <p><%= link_to 'Enviar uma proposta', new_property_proposal_path(@property) %></p>
<% end%>

<p><%= link_to 'Voltar', root_path %></p>
