<nav>
  <% if property_owner_signed_in? %>
    <p>
      <%= "Ol치 #{current_property_owner.email}" %> |
      <%= link_to('Sair', destroy_property_owner_session_path, method: :delete)  %>
    </p>
    <%= link_to 'Minhas propriedades', properties_path(current_property_owner) %> |
    <%= link_to 'Cadastrar nova propriedade', new_property_path %>
  <% elsif !user_signed_in? %>
    <%= link_to('Entrar como propriet치rio', new_property_owner_session_path)  %> |
  <% end %>

  <% if user_signed_in? %>
    <p>
      <%= "Ol치 #{current_user.email}" %> |
      <%= link_to('Meu perfil', user_path(current_user)) %> |
      <%= link_to('Sair', destroy_user_session_path, method: :delete) %>
    </p>
    <%= link_to 'Minhas propostas', user_proposals_path(current_user) %>
  <% elsif !property_owner_signed_in? %>
    <%= link_to('Entrar como usu치rio', new_user_session_path) %>
  <% end %>
</nav>
<hr>
