<h2>Imóvel: <%= proposal.property.title %></h2>
<ul>
  <li>Localização: <%= proposal.property.property_location.name %></li>
  <li>Proponente: <%= proposal.user.name %></li>
  <li>Email do proponente: <%= proposal.user.email %></li>
  <li>Telefone do proponete: <%= proposal.user.phone%></li>
  <li>Finalidade da proposta: <%= proposal.rent_purpose %></li>
  <li>Quantidade de hospedes: <%= proposal.total_guest %></li>
  <li>Estadia de <%= proposal.start_date.strftime('%d/%m/%Y') %> até <%= proposal.end_date.strftime('%d/%m/%Y') %></li>
  <li><%= proposal.pet ? 'Vou levar meu pet' : 'Não vou levar o meu pet' %></li>
  <li><%= proposal.smoker ? 'Sou fumante' : 'Não sou fumante' %></li>
  <li>Valor total da proposta: <%= number_to_currency(proposal.total_amount, unit: "R$", separator: ",", delimiter: "") %></li>
  <li>Maiores detalhes: <%= proposal.details %></li>
</ul>
<div id="proposal_<%= proposal.id %>">
  <%= link_to 'Rejeitar proposta', property_proposal_reject_path(proposal.property, proposal), method: :post %>
</div>
