<% if property_owner_signed_in? %>
  <%= "Olá #{current_property_owner.email}" %> |
  <%= link_to 'Minhas propriedades', property_owner_properties_path(current_property_owner) %>
<% else %>
  <%= link_to('Entrar', new_property_owner_session_path)  %>
<% end %>

<%= form_tag(search_properties_path, method: 'get') do %>
  <%= label_tag(:q, "Localização") %>
  <%= select_tag(:q, options_for_select(PropertyLocation.all.map{|l| [l.name, l.id]})) %>
  <%= submit_tag "Filtrar" %>
<% end %>

<% @properties.each do |property| %>
  <div>
    <h1><%= link_to property.title, property_path(property) %></h1>
    <h3><%= property.main_photo %></h3>
    <p>Localização: <%= property.property_location.name %></p>
    <p>Valor base: <%= property.daily_rate %>
    <p>Número máximo de hospedes: <%= property.maximum_guests %></p>
    <%= link_to 'Ver mais detalhes', property_path(property) %>
  </div>
<% end %>
